<div style="margin-top:5%;display:flex;justify-content:space-around;">
  <div class="card" style="width: 30rem;">
    <div class="card-header">
      <h2 class="text-center">Sign Up</h2>
    </div>
    <div class="card-body">
      <div>
        <%= render "devise/shared/error_messages", resource: resource %>  
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :first_name %><br />
          <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", class: "mb-3 form-control" %>
        </div>
        <div class="field">
          <%= f.label :last_name %><br />
          <%= f.text_field :last_name, class: "mb-3 form-control" %>
        </div>
        <div class="field">
          <%= f.label :contact %><br />
          <%= f.text_field :contact , class: "mb-3 form-control"%>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "mb-3 form-control" %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %><br/>
            <em>(contains at least a lowercase letter, a uppercase, a digit, a special char and 8+ chars)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "new-password", class: "mb-3 form-control" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "mb-3 form-control" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up", class: "btn-primary border-0 rounded shadow w-100 my-3 py-2", data: {turbo: false} %>
        </div>
      <% end %>
      <div>
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
