<div id="<%= dom_id car %>">
  <p>
    <strong>Company:</strong>
    <%= car.company %>
  </p>
  <p>
    <strong>Model:</strong>
    <%= car.model %>
  </p>
  <p>
    <strong>Year:</strong>
    <%= car.purchase_date.year %>
  </p>
  <p>
    <strong>Engine type:</strong>
    <%= car.engine_type %>
  </p>
  <p>
    <strong>Car type:</strong>
    <%= car.car_type %>
  </p>
  <p>
    <strong>Seats:</strong>
    <%= car.seats %>
  </p>
  <p>
    <strong>Distance driven:</strong>
    <%= car.distance_driven %>
  </p>
  <p>
    <strong>Transmission type:</strong>
    <%= car.transmission_type %>
  </p>
  <p>
    <strong>Car description:</strong>
    <%= car.car_description %>
  </p>
  <p>
    <strong>Registered number:</strong>
    <%= car.registered_number %>
  </p>
  <% if car.main_car_image.key?%>
    <p>
      <%= cl_image_tag(car.main_car_image.key, height: 200, width: 200) %>
    </p>
  <% end %>
  <% if car.has_car_images?%>
  <p>
  <strong>Car Images:</strong>
  <% car.car_images.each do |image| %>
    <div style="display: inline-block; width: 200">
      <%#= link_to(cl_image_tag(image.key, height: 200, width: 200, gravity: :auto, crop: :thumb, sign_url: true, fetch_format: :auto), url_for(image)) %>
      <%= cl_image_tag(image.key, height: 200, width: 200) %>
      <p style="text-align: center;">
        <%= button_to 'Delete Image', delete_car_image_car_path(car),params: {image_id:image.id}, method: :delete, data: { confirm: 'Are you sure?' } %>
      </p>
    </div>
  <% end %>
  </p>
  <% end %>
</div>
