<div class="form-group">
  <!--Error Message-->
  <% if car.errors.any? %>
    <div style="color: red">
      <h2>
          <%= pluralize(car.errors.count, "error" ) %> prohibited this car from being saved:
      </h2>
      <ul>
        <% car.errors.each do |error| %>
          <li>
            <%= error.full_message %>
          </li>
          <% end %>
      </ul>
    </div>
  <% end %>
  <!-- Form Started Here -->
  <%= form_with(model: car) do |form| %>
    <div>
      <%= form.label :company, class:"mt-3"%>
      <%= form.text_field :company, class:"mb-2 form-control" %>
    </div>
    <div>
      <%= form.label :model, style: "display: block" %>
      <%= form.text_field :model, class:"mb-2 form-control" %>
    </div>
    <div>
      <%= form.label :purchase_date, style: "display: block" %>
      <%= form.date_select :purchase_date, start_year: 1800, end_year: Time.now.year, class:"mb-2 fa fa-calendar"
          %>
    </div>
    <div class="dropdown-style">
      <%= form.label :engine_type, style: "display: block" %>
      <%= form.select(:engine_type, Car.engine_types.keys.map {|key| [key.humanize, key]}) %>
    </div>
    <div class="dropdown-style">
      <%= form.label :car_type, style: "display: block" %>
      <%= form.select(:car_type, Car.car_types.keys.map {|key| [key.humanize, key]}) %>
    </div>
    <div>
      <%= form.label :seats, style: "display: block" %>
      <%= form.number_field :seats, class:"mb-2 form-control" %>
    </div>
    <div>
      <%= form.label :distance_driven, style: "display: block" %>
      <%= form.number_field :distance_driven, class:"mb-2 form-control" %>
    </div>
    <div class="dropdown-style">
      <%= form.label :transmission_type, style: "display: block" %>
      <%= form.select(:transmission_type, Car.transmission_types.keys.map {|key| [key.humanize, key]}) %>
    </div>
    <div>
      <%= form.label :car_description, style: "display: block" %>
      <%= form.text_area :car_description, class:"mb-2 form-control" %>
    </div>
    <div>
      <%= form.label :registered_number, style: "display: block" %>
      <%= form.text_field :registered_number, class:"mb-2 form-control" %>
    </div>
    <div>
      <%= form.hidden_field :owner_id, value: current_user.id %>
    </div>
    <div class="field">
      <%= form.label :main_car_image %>
      <%= form.file_field :main_car_image %>
    </div>
    <div class="field">
      <%= form.label :car_images, "Upload Car Images:" %>
      <%= form.file_field :car_images, multiple: true %>

    <div>
      <%= form.label :For_Sell %>
      <%= form.check_box :sell, id: "sell", onchange: "sell_check()", checked: car.purpose.include?("sell") ? true : false  %>
    </div>

    <div>
      <%= form.label :For_rent %>
      <%= form.check_box :rent, id:"rent", onchange: "rent_check()", checked: car.purpose.include?("rent") ? true : false %>
    </div>

    <% sell_display_style = car.purpose.include?("sell") ? 'block' : 'none' %>
    <div style="display:<%= sell_display_style %>" id= "sell_div" >
      <%= form.label :Sell_Price, style: "display: block" %>
      <%= form.number_field :sell_price, class:"mb-2 form-control", id: "sell_price" %>
    </div>

    <% rent_display_style = car.purpose.include?("rent") ? 'block' : 'none' %>
    <div style="display:<%= rent_display_style %>" id= "rent_div" >
      <%= form.label :Rent_Price, style: "display: block" %>
      <%= form.number_field :rent_price, class:"mb-2 form-control", id: "rent_price" %>
    </div>

    <div>
      <%= form.submit class:"btn-secondary border-0 shadow py-2 px-5" %>
    </div>

  <% end %>
</div>

<script type="text/javascript">

    function sell_check() {

        if (document.getElementById('sell').checked == true) {
            document.getElementById('sell_div').style.display = "block";
        } else {
          document.getElementById('sell_div').style.display = "none";
        }
    }

    function rent_check() {

        if (document.getElementById('rent').checked == true) {
            document.getElementById('rent_div').style.display = "block";
        } else {
          document.getElementById('rent_div').style.display = "none";
        }
    }

</script>
